@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-primary: #0081C9;
    --ff-primary: 'bebas neue', cursive;
    --ff-secondary: 'Poppins', sans-serif;
}

body {
    background-color: var(--clr-primary);
    font-family: var(--ff-primary);
}